In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('../archive/results.csv')

In [3]:
results.head(4)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1

In [4]:
results.shape

(25840, 18)

In [5]:
results['grid'].isnull().values.any()

False

In [6]:
results['position'].isnull().values.any()

False

In [7]:
results['position'][results['position']=='\\N'].any()

True

In [8]:
results['grid'][results['grid']=='\\N'].any()

False

In [9]:
results['grid'].unique()

array([ 1,  5,  7, 11,  3, 13, 17, 15,  2, 18, 19, 20,  4,  8,  6, 22, 14,
       12, 21,  9, 16, 10,  0, 23, 24, 25, 26, 27, 28, 29, 31, 30, 32, 33,
       34])

In [10]:
results['position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '\\N', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33'],
      dtype=object)

In [11]:
#Cleaning up. Remove the \\N char grid and position rows. Remove 0 grid positions
results = results[results['position']!='\\N']
results = results[['resultId','grid','position']]
results = results.astype(int)
results = results[results['grid']!=0]

In [12]:
results['grid'].unique()

array([ 1,  5,  7, 11,  3, 13, 17, 15,  2,  4,  8,  9,  6, 12, 14, 16, 21,
       19, 22, 10, 18, 20, 25, 24, 23, 26, 27, 28, 29, 31, 30, 32, 33])

In [13]:
print(f"shape: {results.shape}")
results.head(3)

shape: (14952, 3)

   resultId  grid  position
0         1     1         1
1         2     5         2
2         3     7         3

In [14]:
results = results.groupby(['grid','position'])['resultId'].count().to_frame('freq')

In [15]:
results.reset_index(inplace=True)

In [16]:
results.to_csv('gridVsPos.csv')