In [1]:
import pandas as pd

In [2]:
accident_status = ['Accident',
'Collision',
'Spun off',
'Fatal accident',
'Collision damage']

In [3]:
other_status = ['Retired',
'Refuelling',
'Withdrew',
'107% Rule',
'Safety',
'Did not qualify',
'Injury',
'Safety concerns',
'Not restarted',
'Excluded',
'Did not prequalify',
'Driver unwell',
'Debris',
'Illness']

In [4]:
car_faults = ['Engine',
'Gearbox',
'Transmission',
'Clutch',
'Hydraulics',
'Electrical',
'Radiator',
'Suspension',
'Brakes',
'Differential',
'Overheating',
'Mechanical',
'Tyre',
'Driver Seat',
'Puncture',
'Driveshaft',
'Front wing',
'Water pressure',
'Wheel',
'Throttle',
'Steering',
'Technical',
'Electronics',
'Broken wing',
'Heat shield fire',
'Exhaust',
'Oil leak',
'Wheel rim',
'Water leak',
'Fuel pump',
'Track rod',
'Oil pressure',
'Engine fire',
'Engine misfire',
'Tyre puncture',
'Out of fuel',
'Wheel nut',
'Not classified',
'Pneumatics',
'Handling',
'Rear wing',
'Fire',
'Wheel bearing',
'Physical',
'Fuel system',
'Oil line',
'Fuel rig',
'Launch control',
'Injured',
'Fuel',
'Power loss',
'Vibrations',
'Drivetrain',
'Ignition',
'Chassis',
'Battery',
'Stalled',
'Halfshaft',
'Crankshaft',
'Alternator',
'Underweight',
'Safety belt',
'Oil pump',
'Fuel leak',
'Injection',
'Distributor',
'Turbo',
'CV joint',
'Water pump',
'Spark plugs',
'Fuel pipe',
'Eye injury',
'Oil pipe',
'Axle',
'Water pipe',
'Magneto',
'Supercharger',
'Power Unit',
'ERS',
'Brake duct',
'Seat',
'Damage',
'Undertray',
'Cooling system',
'Fuel pressure']

In [5]:
results = pd.read_csv('../archive/results.csv')
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,6
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [6]:
status = pd.read_csv('archive/status.csv')
status

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]

In [7]:
status['status'].unique()

array(['Finished', 'Disqualified', 'Accident', 'Collision', 'Engine',
       'Gearbox', 'Transmission', 'Clutch', 'Hydraulics', 'Electrical',
       '+1 Lap', '+2 Laps', '+3 Laps', '+4 Laps', '+5 Laps', '+6 Laps',
       '+7 Laps', '+8 Laps', '+9 Laps', 'Spun off', 'Radiator',
       'Suspension', 'Brakes', 'Differential', 'Overheating',
       'Mechanical', 'Tyre', 'Driver Seat', 'Puncture', 'Driveshaft',
       'Retired', 'Fuel pressure', 'Front wing', 'Water pressure',
       'Refuelling', 'Wheel', 'Throttle', 'Steering', 'Technical',
       'Electronics', 'Broken wing', 'Heat shield fire', 'Exhaust',
       'Oil leak', '+11 Laps', 'Wheel rim', 'Water leak', 'Fuel pump',
       'Track rod', '+17 Laps', 'Oil pressure', '+42 Laps', '+13 Laps',
       'Withdrew', '+12 Laps', 'Engine fire', 'Engine misfire',
       '+26 Laps', 'Tyre puncture', 'Out of fuel', 'Wheel nut',
       'Not classified', 'Pneumatics', 'Handling', 'Rear wing', 'Fire',
       'Wheel bearing', 'Physical', 'Fuel system', 'Oil line', 'Fuel rig',
       'Launch control', 'Injured', 'Fuel', 'Power loss', 'Vibrations',
       '107% Rule', 'Safety', 'Drivetrain', 'Ignition', 'Did not qualify',
       'Injury', 'Chassis', 'Battery', 'Stalled', 'Halfshaft',
       'Crankshaft', '+10 Laps', 'Safety concerns', 'Not restarted',
       'Alternator', 'Underweight', 'Safety belt', 'Oil pump',
       'Fuel leak', 'Excluded', 'Did not prequalify', 'Injection',
       'Distributor', 'Driver unwell', 'Turbo', 'CV joint', 'Water pump',
       'Fatal accident', 'Spark plugs', 'Fuel pipe', 'Eye injury',
       'Oil pipe', 'Axle', 'Water pipe', '+14 Laps', '+15 Laps',
       '+25 Laps', '+18 Laps', '+22 Laps', '+16 Laps', '+24 Laps',
       '+29 Laps', '+23 Laps', '+21 Laps', 'Magneto', '+44 Laps',
       '+30 Laps', '+19 Laps', '+46 Laps', 'Supercharger', '+20 Laps',
       'Collision damage', 'Power Unit', 'ERS', '+49 Laps', '+38 Laps',
       'Brake duct', 'Seat', 'Damage', 'Debris', 'Illness', 'Undertray',
       'Cooling system'], dtype=object)

In [8]:
results = pd.merge(results, status, on='statusId', how='left')
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,Finished
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,Finished
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,Finished
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,Finished
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,+1 Lap
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,+1 Lap
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,6,Gearbox
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,Collision damage
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,Water leak

In [9]:
races = pd.read_csv('../archive/races.csv')
races

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,1092,2022,18,22,Japanese Grand Prix,2022-10-09,05:00:00,http://en.wikipedia.org/wiki/2022_Japanese_Gra...,2022-10-07,03:00:00,2022-10-07,06:00:00,2022-10-08,03:00:00,2022-10-08,06:00:00,\N,\N
1075,1093,2022,19,69,United States Grand Prix,2022-10-23,19:00:00,http://en.wikipedia.org/wiki/2022_United_State...,2022-10-21,19:00:00,2022-10-21,22:00:00,2022-10-22,19:00:00,2022-10-22,22:00:00,\N,\N
1076,1094,2022,20,32,Mexico City Grand Prix,2022-10-30,20:00:00,http://en.wikipedia.org/wiki/2022_Mexican_Gran...,2022-10-28,18:00:00,2022-10-28,21:00:00,2022-10-29,17:00:00,2022-10-29,20:00:00,\N,\N
1077,1095,2022,21,18,Brazilian Grand Prix,2022-11-13,18:00:00,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...,2022-11-11,15:30:00,2022-11-12,15:30:00,\N,\N,2022-11-11,19:00:00,2022-11-12,19:30:00
1078,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N

In [10]:
results = pd.merge(results, races, on='raceId', how='left')
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,18,4,4,5,11,4,4,4,5.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N
25836,25842,1096,825,210,20,16,17,17,17,0.0,...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N
25837,25843,1096,1,131,44,5,18,18,18,0.0,...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N
25838,25844,1096,849,3,6,20,19,19,19,0.0,...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N
25839,25845,1096,4,214,14,10,\N,R,20,0.0,...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N

In [11]:
circuits = pd.read_csv('../archive/circuits.csv')
circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
71,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
72,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
73,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
74,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
75,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

In [12]:
results = pd.merge(results, circuits, on='circuitId', how='left')
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,sprint_date,sprint_time,circuitRef,name_y,location,country,lat,lng,alt,url_y
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
2,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
3,4,18,4,4,5,11,4,4,4,5.0,...,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
4,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,...,\N,\N,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.6031,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
25836,25842,1096,825,210,20,16,17,17,17,0.0,...,\N,\N,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.6031,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
25837,25843,1096,1,131,44,5,18,18,18,0.0,...,\N,\N,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.6031,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
25838,25844,1096,849,3,6,20,19,19,19,0.0,...,\N,\N,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.6031,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
25839,25845,1096,4,214,14,10,\N,R,20,0.0,...,\N,\N,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.6031,3,http://en.wikipedia.org/wiki/Yas_Marina_Circuit

In [13]:
results['status']

0                Finished
1                Finished
2                Finished
3                Finished
4                Finished
               ...
25835              +1 Lap
25836              +1 Lap
25837             Gearbox
25838    Collision damage
25839          Water leak
Name: status, Length: 25840, dtype: object

In [14]:
results.loc[results['status'].str.contains('Lap'), 'status'] = 'Finished'

In [15]:
results.loc[results['status'].isin(car_faults), 'status'] = 'Car Fault'
results.loc[results['status'].isin(other_status), 'status'] = 'Other'
results.loc[results['status'].isin(accident_status), 'status'] = 'Accident'

In [33]:
results = results[['resultId','year','status','country']]

In [34]:
results.to_csv('race_final_status_country.csv',index=False)

In [37]:
df = results

In [39]:
country_list = ['Australia', 'Malaysia', 'Bahrain', 'Spain', 'Turkey', 'Monaco',
       'Canada', 'France', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy',
       'Singapore', 'Japan', 'China', 'Brazil', 'USA', 'Austria',
       'Argentina', 'Portugal', 'South Africa', 'Mexico', 'Netherlands',
       'Sweden', 'UAE', 'Morocco', 'Switzerland', 'Korea', 'India',
       'Russia', 'Azerbaijan', 'Qatar', 'Saudi Arabia']

In [ ]:
# country_list = ['Others','Australia','Bahrain','Spain','Monaco','France','UK', 'USA', 'Azerbaijan']

In [41]:
mask = df['country'].isin(['Australia'])
df = df[mask]
df = df[['resultId','year','status']]
df = df.groupby(['year','status'])['resultId'].count().to_frame()
df.reset_index(inplace=True)
df

     year        status  resultId
0    1985      Accident         1
1    1985     Car Fault        15
2    1985  Disqualified         1
3    1985      Finished         8
4    1986      Accident         2
..    ...           ...       ...
118  2019     Car Fault         3
119  2019      Finished        17
120  2022      Accident         2
121  2022     Car Fault         1
122  2022      Finished        17

[123 rows x 3 columns]

In [29]:
#df.to_csv('dashboard/race_final_status_distro.csv',index=False)

In [22]:
# status.to_csv('status_list.csv',index=False)

In [31]:
results['country'].unique()

array(['Australia', 'Malaysia', 'Bahrain', 'Spain', 'Turkey', 'Monaco',
       'Canada', 'France', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy',
       'Singapore', 'Japan', 'China', 'Brazil', 'USA', 'Austria',
       'Argentina', 'Portugal', 'South Africa', 'Mexico', 'Netherlands',
       'Sweden', 'UAE', 'Morocco', 'Switzerland', 'Korea', 'India',
       'Russia', 'Azerbaijan', 'Qatar', 'Saudi Arabia'], dtype=object)